
# dependencies
/web/node_modules
/web/.pnp
/web.pnp.js

/server/node_modules
/server/.env
/server/uploads

# testing
/web/coverage

# next.js
/web/.next/
/web/out/

# production
/web/build

# misc
.DS_Store
*.pem

# debug
/web/npm-debug.log*
/web/yarn-debug.log*
/web/yarn-error.log*

# local env files
/web/.env*.local

# vercel
/web/.vercel

# typescript
/web/*.tsbuildinfo
/web/next-env.d.ts

#Spring + IntelliJ IDEA

server-java-spring/HELP.md
server-java-spring/target/
server-java-spring/!.mvn/wrapper/maven-wrapper.jar
server-java-spring/!**/src/main/**/target/
server-java-spring/!**/src/test/**/target/

server-java-spring/.idea
server-java-spring/*.iws
server-java-spring/*.iml
server-java-spring/*.ipr